@model IEnumerable<CRUD_CF.Country>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
        .table {
        text-align: left justify;
        background-color: #fff;
        font-family: Calibri;
        font-size: 14px;
        color: #808080;
        width: 100%;
        margin: 20px;
    }
        .alert-warning{
            color:red;
            background-color:lightskyblue;
           }
</style>
<div class="alert-warning">
    @if (TempData["Msg"] != null)
    {
        <h4>@TempData["Msg"].ToString()</h4>

    }
</div>

<h2>Index</h2>

<p>
    <input type="submit" value="Create New" onclick="location.href='@Url.Action("Create","Country")'" class="btn btn-primary" />
    @*@Html.ActionLink("Create New", "Create")*@
</p> 

<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.countryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.setDefault)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.countryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.setDefault)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.countryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.countryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.countryId })
        </td>
    </tr>
}

</table>
