@model CRUD_CF.Contact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
            
        <dt>
            @Html.DisplayNameFor(model => model.e_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.e_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unitNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unitNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.streetNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.streetNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.streetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.streetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suburb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suburb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.countryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Countries.countryName)
        </dd>
    </dl>
    <p>
        <div class="form-group">
            <div class="col-md-offset-0 col-md-10">
                <input type="submit" value="Edit" onclick="location.href='@Url.Action("Edit","Contact", new { id = Model.ID })'" class="btn btn-primary" />
            </div>
        </div>
    </p>
    <p>
        <div class="form-group">
            <div class="col-md-offset-0 col-md-10">
                <input type="submit" value="Back to List" onclick="location.href='@Url.Action("Index","Contact")'" class="btn btn-primary" />
            </div>
        </div>
    </p>
    <hr />
</div>


