@model IEnumerable<CRUD_CF.Contact>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.5.1.js"></script>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<h2>Index</h2>

<p>
    <input type="submit" value="Create New" onclick="location.href='@Url.Action("Create","Contact")'" class="btn btn-primary" />
     @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.e_mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unitNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.streetNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.streetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.suburb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.countryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActionSelected)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.e_mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unitNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.streetNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.streetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.suburb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Countries.countryName )
        </td>
        <td>
            @*@Html.CheckBoxFor(modelItem => item.isActionSelected)*@
            <input type="checkbox" id="checkbox" value="@item.ID"/>
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>

        <input type="text" id ="selectedId" />

       <div class="form-group">
    <div class="col-md-offset-10 col-md-10">
        <input id ="button1" type="submit" value="Edit" class="btn btn-primary" @*PostBackUrl="~/Contact/Create.cshtml"*@ />
        
        <input type="submit" value="Details" class="btn btn-primary" @*PostBackUrl="~/Contact/Create.cshtml"*@ />
    
        <input type="submit" value="Delete" class="btn btn-primary" @*PostBackUrl="~/Contact/Create.cshtml"*@ />
    </div>
</div>

@*jquery uncheck checkbox when another is checked *@
<script type="text/javascript">
    $('input[type="checkbox"]').click(function () {
        var isCheckboxChecked = this.checked;
        $('input[type="checkbox"]').attr('checked', false);
        this.checked = isCheckboxChecked;
    })
</script>

<script type="text/javascript">
    $('#button1').click(function() {
        if($(checkbox).is(':checked'))
        {
            var id = $(this).closest('tr')
            $('input[type ="text"]').val(id);
            //alert(id);
        }
        //var row = $('input[type="checkbox"]:checked').closest('tr');
        //var rowid = $(this).data[1];
        //alert(rowid);
        //$('input[type ="text"]').val(row);
    })
    </script>






@*<script type="text/javascript">
               
                    $('#button1').click(function () {
                        //var result = $('input[type="checkbox"]:checked');
                        var row = $('input[type="checkbox"]').closest('tr');
                        var rowid = $(this).data[1];
                        //alert(message);
                        ('input[type ="text"]').val(rowid);

                        //if(result.length > 0)
                        //{
                        //    alert("in the loop");

                        //}
                        //else
                        //{
                        //    alert("in the loop but nothing selected");

                        //}
                    })
                
    </script>*@